*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
.container{
	text-align: center;
	margin-left: 50px;
	margin-top: 100px;
}
body{
	height: 100vh;
	display: grid;
}
table{
	width: 1200px;

}

table,td, th{
	padding: 10px 15px 15px 25px;
	border-top: 1px solid silver;
	border-collapse: collapse;
	text-align: center;
}

td{
	font-size: 18px;
}

th{
	background-color: #468284;
}

tr:nth-child(odd){
	background-color: lightblue;
}
tr:nth-child(odd):hover{
	cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms ease-in;
}
tr:nth-child(even){
	background-color: lightgray;
}
tr:nth-child(even):hover{
	cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms ease-in;
}

