body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;

}

a{
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    color: black;
}
a:hover{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
    transition: transform 300ms ease-in;

}