body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1000px;
    height: fit-content;
    padding-left: 60px;
}

.img{
    width: 400px;
    margin-top: 50px;
}
.info{
    float: right;
    padding-top: 350px;
    padding-left: 50px;
}

