body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.btn{	
    background-color: gray;
    margin-top: 20px;
    margin-left: 20px;
    padding: 8px 16px;
}
.btn{
    border-radius: 50px;
}

.btn:hover{
   background-color:gray;  
   cursor: pointer;  
}
.container{
    width: 800px;
    height: fit-content;
    padding-left: 150px;
    align-items: center;
}

img{
    width: 600px;
    margin-top: auto;
}
.info{
    margin-top: 116px;
    width: 200px;
    
}

.info a{
    text-decoration: none;
}
.info p{
    box-shadow: 8px 0px 8px;  
    border: 1px silver solid;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightblue;
    transition: .3s ease background-color;	
    padding: 1.6rem;
}
.info p:hover{
background-color:gray;
color: white;
}