body{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.container{
    width: 1000px;
    height: fit-content;
    padding-left: 150px;
    align-items: center;
}

img{
    width: 600px;
    margin-top: 50px;
}
.info{
    float: right;
    padding-top:100px;
    padding-left: 150px;
}

.info a{
    text-decoration: none;
}
.info p{
    border: 1px silver solid;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: lightblue;
    transition: .3s ease background-color;
    padding:1.6rem 1.6rem;	

}
.info p:hover{
background-color: black;
color: white;
}