body{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}

.wrapper{
	width: 400px;
	height: 420px;
	color: #000;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow:  8px 8px 50px #000;
	background-color: 
}
.wrapper h1{
	text-align: center;
}

.wrapper input{
	padding-left: 20px;
	width: 70%;
	margin-bottom:30px;
}
.wrapper input[type=text], .wrapper input[type=password]{
	border:0;
	border-bottom: 1px solid #ddd;
	background:transparent;
	width: 70%;
	outline: none;
	opacity: 1;
    margin-left: 30px;
}

.wrapper input[type=submit]{
	font-size: 18px;
	outline:none;
	border: none;
	font-weight: bold;
	padding: 5px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
	color: black;
	box-shadow:13px 13px 20px;
    margin-left: 40px;
}
.wrapper input[type=submit]:hover{
	cursor: pointer;
}

.bottom-text {
	text-align: center;
	text-decoration-color: black;
}