body{
	margin: 0;
	padding: 0;
	background-image: url(horizon.jpg);
	-webkit-background-size:contain;
	background-size: cover;
	font-family: sans-serif;
}
.wrapper{
	width: 400px;
	height: 420px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 30px;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	box-shadow:  8px 8px 50px #000;
}
h1{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-bottom: 8%;
}

.wrapper input{
	width: 100%;
	margin-bottom: 20px;
}

.wrapper input[type=text], .wrapper input[type=password]{
	border:0;
	border-bottom: 1px solid #ddd;
	background:transparent;
	width: 100%;
	outline: none;
	opacity: 1;

}
.wrapper input[type=submit]{
	font-size: 18px;
	font-weight: bold;
	padding:5px 10px;
	border-radius: 5px;
	outline: none;
	background-color: transparent;
	color: black;
	text-align: center;
}
.wrapper input[type=submit]:hover{
	cursor: pointer;
}

.wrapper a{
	font-size: 14px;
	text-decoration: none;
	color: fff;
	opacity: 1;
}
.wraper a:hover{
	color: #fff;
	opacity: 1;
}
.bottom-text input{
   width: 10%;
   float: left;
}

.bottom-text a{
	float: right;
}

